.departmentSelect {
  display: block;
  :global {
    .ant-select-selector {
      .ant-select-selection-search-input {
        height: 100% !important;
        padding: 0 0.6em !important;
      }
      .ant-select-selection-placeholder {
        color: #4A5568;
        opacity: 0.5;
      }
    }
  }
}
