NEXT_PUBLIC_API=https://capi.continuumcyber.com.au
#NEXT_PUBLIC_API=http://localhost:1337
NEXT_PUBLIC_TYPEFORM_ASSESSMENT_ID=IBhfrnlQ
PDFMAKE_FONT_PATH=../../../..
NEXT_PUBLIC_HOT_JAR_ID=2662353

# Skins
NEXT_PUBLIC_TITLE=Continuum Cybersecurity
NEXT_PUBLIC_DESCRIPTION=Continuum Cybersecurity | Small Business Cybersecurity
NEXT_PUBLIC_SECURITY_VIDEO_ID=126151775
NEXT_PUBLIC_SECURITY_IMAGE_URL=images/svg/illustrations/illustration-14.svg
NEXT_PUBLIC_TENANT=continuum

# HubspotForm
HUBSPOT_REGION=na1
HUBSPOT_PORTAL_ID=20577106
HUBSPOT_FORM_ID=7cb0004e-b06f-4c5a-94bc-7fbbf8ab1ee1
ASSISTANCE_HUBSPOT_FORM_ID=4242388c-0c55-4d6b-928c-4c41337aa490

# Stripe
NEXT_PUBLIC_STRIPE_SECRET_KEY=