API_URI=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=https://capi.continuumcyber.com.au
# Internal docker services
NEXT_PUBLIC_INTERNAL_API_URL=http://production-api

# Google auth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Tenant

NEXT_PUBLIC_TENANT=scotpac
NEXT_PUBLIC_TITLE=Scotpac Cybersecurity
NEXT_PUBLIC_DESCRIPTION=Scotpac Cybersecurity | Small Business Cybersecurity

# Environment
ENVIRONMENT=DEVELOPMENT
NODE_ENV=
