URL=http://localhost:1337
HOST=0.0.0.0
PORT=1337

DATABASE_CLIENT=postgres
DATABASE_NAME=continuum
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres

SENDGRID_API_KEY=
SENDGRID_DEFAULT_FROM=
SENDGRID_DEFAULT_REPLY=
SENDGRID_TEST_ADDRESS=

TYPEFORM_TOKEN=
TYPEFORM_ACCESSMENT_FORM_ID=

SENTRY_DSN=

USER_PORTAL=https://user-dev.continuumcyber.io
ADMIN_PORTAL=https://admin-dev.continuumcyber.io

GOPHISH_DOMAIN=https://cphish.continuumcyber.io
GOPHISH_HOST=https://cphish.continuumcyber.io
GOPHISH_API_KEY=
ENVIRONMENT=DEVELOPMENT
VULNERABILITY_WORKER_HOST=http://localhost:1338

NODE_ENV=production
STORAGE_BUCKET=
STORAGE_ACCESS_KEY=

PLATFORM_NAME=
SLACK_WEBHOOK_URL=

STRIPE_SECRET_KEY=
